body {
    background-color: var(--bg);
}

/* 404 페이지 main */
#not-found {
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 사이드바 닫혔을 때 */
#error-body.sidebar-close main{
    margin-left: var(--mini-nav-width);
}

/* viewport 791px 이하에서 마진 제거 */
@media (max-width: 791px) {
    #error-body.sidebar-close main{
        margin-left: 0;
    }
}

/* 사이드바 열렸을 때 */
#not-found .content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font);
    gap: 20px;
    background-color: var(--bg-highlight);
    border-radius: 10px;
}

#not-found a{
    color: var(--font);
}

#not-found a:hover{
    text-decoration: underline;
}