@scope (#channel-main) {
    font-family: Arial, sans-serif; /* 글꼴 설정 */
}

body {
    background-color: var(--bg);
}

/* 사이드바 열려있을 때 기본 */
#contents, #channel-main{
    margin-left: 240px;
    transition: margin 0.3s ease;
}

/* 사이드바 닫혔을 때 */
body.sidebar-close #contents,
body.sidebar-close #channel-main {
    margin-left: var(--mini-nav-width);
}

/* viewport 791px 이하에서 마진 제거 */
@media (max-width: 791px) {
    body.sidebar-close #contents,
    body.sidebar-close #channel-main {
        margin-left: 0;
    }
}

#channel-main {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 데이터 로딩 전까진 숨김 처리 */
#channel-header.visible{
    visibility: visible;
}

/* 채널 헤더 */
#channel-header {
    width: 100%;
    visibility: hidden;
    max-width: calc(210px * 6 + 4px * 5);
    padding: 0;
    display: flex;
    flex-direction: column; 
    z-index: 1;
    background-color: var(--ch-profile);
}

/* 채널 배경 사진 */
#channel-cover-img{
    width: 100%; max-height: 200px;
    object-fit: cover;
}

/* 채널 프로필 사진 */
#channel-profile {
    width: 100%;
    display: flex;
    color: var(--font);
    justify-content: space-between;
    align-items: center;
    padding: 16px 65px 4px 65px;
}

@media (width < 840px) {
    #channel-profile {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

#channel-profile-box{
    width: 80px; height: 80px;
    display: flex;
    justify-content: center; align-items: center;
    overflow: hidden;
}

#channel-profile-img{
    width: 100%; height: 100%;
    object-fit: fill;
}

/* 채널 이름 */
#channel-id {
    display: flex;
    gap: 24px;
}

#channel-name-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#channel-name { font-size: 24px; }
#subscribers { font-size: 14px; color: var(--font-gr); }

#button-subscribe {
    height: 36px;
    width: 116px;
    background-color: var(--subscribes);
    border: none;
    border-radius: 2px;
    color: var(--font);
    font-size: 14px;
}

@media (width < 840px) {
    #button-subscribe { width: 100%; }
}

/* 채널 메뉴 탭 */
#channel-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 65px;
    position: relative;
}

/* 상단 버튼 래퍼 */
.scroll-menu-wrap {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative;
}

/* 메뉴 버튼 랩 */
#channel-nav .nav-btn-wrap {
    width: 56px; height: 100%;
    display: flex; justify-content: center; align-items: center;
    position: absolute;
    background-color: var(--ch-profile);
    z-index: 1;
}

/* 메뉴 이동 버튼 영역 */
.left-btn-wrap{top:0; left:0;}

.right-btn-wrap{top:0; right:0;}

/* 메뉴 버튼 */
#channel-nav .nav-btn-wrap button {
    width: 40px; height: 40px;
    border: none;
    display: flex; justify-content: center; align-items: center;
    border-radius: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

#channel-nav .nav-btn-wrap button:active{
    background-color: var(--bt-border-d);
}

#channel-nav .nav-btn-wrap button svg{
    color: var(--font-gr);
}

/* 메뉴 스크롤 영역 */
#channel-nav .scroll-menu-box {
    overflow-x: auto;
}

#channel-nav .scroll-menu-box::-webkit-scrollbar{display: none;}

/* 메뉴 스크롤 */
#channel-nav .menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
}

#channel-nav .menu-list a {
    text-decoration: none;
    color: var(--font-gr);
    font-size: 14px;
    font-weight: 700;
}

#channel-nav .menu-list li{
    padding: 16px 32px 15px 32px;
    position: relative;
    white-space: nowrap;
    transition: padding, margin 0.1s ease;
    cursor: pointer;
}

@media (width <= 876px) {
    #channel-nav .menu-list li{
        margin-right: 32px;
        padding-left: 0;
        padding-right: 0;
    }
}

#channel-nav .menu-list li::after{
    width: 100%; height: 2px;
    content: '';
    position: absolute;
    bottom:0; left:0;
}

#channel-nav .menu-list li:hover::after{
    background-color: var(--bt-border);
}

#channel-nav .menu-list li.select::after{
    background-color: var(--bt-highlight);
}

/* 채널 검색 영역 */
#channel-nav .menu-list .form_li {
    padding: 0;
}

/* 검색 폼만 밑줄 효과 제거 */
#channel-nav .menu-list .form_li::after,
#channel-nav .menu-list .form_li:hover::after,
#channel-nav .menu-list .form_li.select::after{
    display: none;
}

#channel-search {
    display: flex;
    align-items: center;
}

#search-icon {
    width: 40px; height: 40px;
    display: flex; justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

/* 검색 아이콘 클릭 시 애니메이션 */
#search-icon.clicked{
    animation: search-icon-blink forwards 0.5s ease-in-out 1;
}

@keyframes search-icon-blink {
    0% {
        background-color: var(--bg);
        border: 1px solid var(--bg);
    }
    100% {
        background-color: transparent;
        
    }
}

/* 검색 입력 창 */
#channel-search input {
    height: 20px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--font);
}

#channel-search input:focus-visible{
    outline: none;
    caret-color : var(--font-gr);
}

/* 자동 완성시 스타일 변경 */
#channel-search input:-webkit-autofill, 
#channel-search input:-webkit-autofill:hover, 
#channel-search input:-webkit-autofill:focus,
#channel-search input:-webkit-autofill:active {
	border : none;
	-webkit-text-fill-color: var(--font);
	-webkit-box-shadow: 0 0 0px 1000px var(--ch-profile) inset;
    box-shadow: 0 0 0px 1000px var(--ch-profile) inset;
	transition: background-color 5000x ease-in-out 0s;
}

#channel-search input:autofill,
#channel-search input:autofill:hover,
#channel-search input:autofill:focus,
#channel-search input:autofill:active {
	-webkit-text-fill-color: var(--font);
    -webkit-box-shadow: 0 0 0px 1000px var(--ch-profile) inset;
    box-shadow: 0 0 0px 1000px var(--ch-profile) inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* 검색 input 박스*/
#channel-search .search-input-box{
    display:none;
}

#channel-search .search-input-box.active{
    display: block;
}

/* 검색 input 하단 언더바 */
.search-underbar{
    width: 100%; height: 1px;
    position: relative;
    display: none;
}

.search-underbar.visible {
    display: block;
}

/* 언더바 일반 상태 */
.search-underbar.visible .unfocus-underbar {
    width: 100%; height: 100%;
    display: block;
    background-color: var(--font);
    opacity: 0.8;
}

/* 언더바 포커스 상태 */
.search-underbar.visible .focus-underbar {
    width: 0; height: 1.5px;
    position: absolute;
    bottom: 0; left:50%;
    display: block;
    background-color: var(--font);
}

/* 포커스 시 언더바 배경 애니메이션 지정 */
.search-underbar.visible .focus-underbar.clicked{
    animation: input_underline_blink forwards 0.4s ease-in-out 1;
}

@keyframes input_underline_blink {
    100% {
        width: 100%;
        left:0;
    }
}

/* 비디오 영역 */
#channel-section {
    width: 100%;
    visibility: hidden;
}

/* 로딩 끝나기 전까지 숨김 */
#channel-section.visible{
    visibility: visible;
}

/* 메인 비디오 */
#main-video {
    width: 100%;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--bt-border);
    container-name: top-video-box;
    container-type: inline-size;
}

.main-video-box {
    width: 100%;
    max-width: calc(210px * 6 + 4px * 5);
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

/* 876px 이하에서 flex 방향 전환 */
@media (width <= 876px) {
    .main-video-box { flex-direction: column; gap:0;}
}

@media (width < 472px) {
    .main-video-box { 
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-color: var(--bt-border) transparent;
        scroll-padding: 1px;
    }
}

/* #main-video 폭에 따라 하위 박스 사이즈 최대 길이 변경 */
@container top-video-box (max-width: calc(210px * 6 + 4px * 5 - 1px))
{
  .main-video-box {
    max-width: calc(210px * 5 + 4px * 4);
  }
}
@container top-video-box (max-width: calc(210px * 5 + 4px * 4 - 1px))
{
  .main-video-box {
    max-width: calc(210px * 4 + 4px * 3);
  }
}
@container top-video-box (max-width: calc(210px * 4 + 4px * 3 - 1px))
{
  .main-video-box {
    max-width: calc(210px * 3 + 4px * 2);
  }
}
@container top-video-box (max-width: calc(210px * 3 + 4px * 2 - 1px))
{
  .main-video-box {
    max-width: calc(210px * 2 + 4px * 1);
  }
}

/* 비디오 플레이어 */
.video-player { width: 448px; height: 238px; }

#video-info-box {
    max-width: 400px;
    min-width: 194px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
}

/* 비디오 제목 */
#video-title {
    display: block;
    margin-bottom: 20px;
    color: var(--font);
    font-weight: 700;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#video-meta{
    color: var(--font-gr);
    font-size: 13px;
    font-weight: 700;
}

#spectators { margin-right: 5px; }

/* 비디오 설명 */
#video-desc-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

#video-description {
    color: var(--font);
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    /* white-space : pre-wrap; 공백 포함 입력 내용 그대로 출력 */
}

#video-show-more {
    display: inline-block;
    color: var(--font-gr);
    font-size: 12px;
}

@media (width <= 876px) {
    #video-meta { margin-top : 16px;}
    #video-desc-box { display: none; }
    #video-title { margin-bottom : 0;}
}

/* video 탭 설정 시 스타일 */
/* #videos에서는 여러 줄로 자동 줄바꿈 */
/* body.section-videos .video-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    overflow-x: unset;
    justify-content: flex-start;
} */

/* 두 번째 세션도 보이도록 설정 (필요시 조건에 맞게 변경 가능) */
/* body.section-videos .playlist-section:nth-child(2) {
    display: block;
} */

/* 첫 번째 세션만 보이도록 하는 스타일 */
/* body.section-home .playlist-section:nth-child(2) {
    display: none;
} */