body {
    background-color: var(--bg); 
    overflow-x: hidden;
}

#home-body main {
    margin-left: 240px;
    margin-top: 56px; 
    background-color: var(--bg); 
    position: relative; 
    color: var(--font);
    transition: margin 0.3s ease;
}

#home-body.sidebar-close main{
    margin-left: var(--mini-nav-width);
}

@media (max-width: 791px) {
    #home-body.sidebar-close main{
        margin-left: 0;
    }
}

#btn-header {
    visibility: hidden;
    margin-top: 56px;
    z-index: 10; 
    width: 100%;
    background-color: var(--bg);
}

#btn-header.visible {
    visibility: visible;
}

.scroll-menu-wrap {
    height: 100%;
    padding: 0 24px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative;
}

.left-btn-wrap, .right-btn-wrap {
    width: 48px; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--bg);
}

.left-btn-wrap {
    top: 0;
    left: 0;
}

.right-btn-wrap {
    top: 0;
    right: 0;
}

.nav-btn-wrap button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; 
    position: relative;
    border:none;
    color: var(--font);
    background-color: transparent;
}

.nav-btn-wrap button:hover{
    background-color: var(--bt-border-d);
}

.left-btn-wrap::after {
    width: 20px; height: 100%;
    position: absolute; right: -20px;
    content: '';
    background: linear-gradient(to right, var(--bg) 0%, var(--bg) 40%, transparent 100%);
}

.right-btn-wrap::after {
    width: 20px; height: 100%;
    position: absolute; left: -20px;
    content: '';
    background: linear-gradient(to left, var(--bg) 0%, var(--bg) 40%, transparent 100%);
}

.nav-btn-wrap button svg {
    width: 16px;
    height: 16px;
}

#btn-tab {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scroll-menu-box{overflow-x:auto;}
.scroll-menu-box::-webkit-scrollbar{display: none;}

.scroll-menu-wrap .menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth; 
}

.scroll-menu-wrap .menu-list li {
    margin: 12px 12px 12px 0;
    white-space: nowrap;
}

.scroll-menu-wrap .menu-list li button{
    width: 100%; height: 100%;
    padding: 0 12px;
    border: none;
    background-color: var(--bg-highlight);
    border-radius: 8px;
    font-size: 14px;
    line-height: 2rem;
    font-weight: 500;
    color: var(--font);
    cursor: pointer;
}

.scroll-menu-wrap .menu-list li button:hover {
    background-color: #444;
}

.scroll-menu-wrap .menu-list li button.selected {
    background-color: var(--bt-border);
    color: var(--bg);
}

#contents {
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    position: relative;
}

#contents.visible{
    visibility: visible
}

.content {
    width: 100%;
    background-color: var(--bg-item);
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}

.thumbnail-box {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.thumbnail {
    width: 100%; height: 100%;
}

.thumbnail-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hover-overlay-wrap, .overlay-wrap{
    position: absolute;
    top:0; right: 0;
}

.hover-overlay-wrap {
    display: none;
    z-index: 100;
}

.thumbnail-box .video-link:hover .hover-overlay-wrap {
    display: block;
}

.hover-overlay-inner-wrap {
    margin: 8px 8px 0 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.hover-overlay-text-box{
    display: none;
}

.hover-overlay-box {
    width: 28px;
    height: 28px;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    opacity: 0.8;
    z-index: 200;
}

.hover-overlay-box:hover {
    opacity: 1;
}

.hover-overlay-box:hover ~ .hover-overlay-text-box{
    display: block;
    padding: 5px;
    background-color: var(--bg);
    color: var(--font);
    border-radius: 5px;
    font-size: 12px;
}

.hover-overlay-box img {
    filter: invert();
    width: 70%;
    object-fit: contain;
}

.overlay-wrap {
    width: 100%; height: 100%;
    z-index: 50;
    position: absolute;
    top:0; left: 0;
}

.overlay-box{
    width: 100%; height: 100%;
    position: relative;
}

.overlay-time-box {
    padding: 1px 4px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8px; right: 8px;
    background-color: var(--time-badge-bg);
    border-radius: 4px;
}

.running-time {
    font-size: 13px;
    color: var(--font);
    white-space: nowrap;
    font-weight: 500;
}

.details {
    color: var(--font);
    display: flex;
    flex: auto;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.profile-box .channel-link{
    display: block;
    width: 36px; height: 36px;
    margin-top: 12px; margin-right: 12px;
}

.avatar-img {
    width: 100%; height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.meta {
    padding-right: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    overflow-x: hidden;
}

.metadata {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.video-title-box {
    display: flex;
    align-items: center;
}

.video-title {
    margin: 12px 0 4px 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--font);
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.channel-name {
    font-size: 14px;
    color: var(--font-gr);
}

.video-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    color: var(--font-gr);
    font-size: 14px;
}

.spectator-line {
    line-height: 20px;
    font-weight: 400;
}

.video-menu {
    position: absolute;
    top:12px; right: 0;
}

.video-menu .menu-toggle-btn, #contents .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border: none;
    cursor: pointer;
}

.video-menu .menu-toggle-btn img {
    width: 20px; height: 20px;
    object-fit: fill;
}

.video-menu .menu-toggle-btn img, #contents .menu-btn-wrap img {
    filter: invert();
}

.video-menu .menu-toggle-btn {
    padding: 5px;
    border-radius: 100%;
    border: none;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-out;
}

@keyframes toggle-btn-blink {
    0% {
        background-color: var(--bg-highlight);
        border: 1px solid var(--bt-border);
    }
    100% {
        background-color: transparent;
        border: none;
    }
}

.video-menu .menu-toggle-btn.clicked {
    animation: toggle-btn-blink forwards 0.5s ease-in-out 1;
}

.video-menu .menu-toggle-btn.hold {
    background-color: var(--bg-highlight);
    border: 1px solid var(--bt-border);
}

#contents .menu-list { 
    visibility: hidden;
    position: absolute;
    display: block;
}

#contents .menu-list.active {
    visibility: visible;
    padding: 8px 0;
    background-color: var(--bg-highlight);
    border-radius: 12px;
    z-index: 2000;
}

#contents .menu-items span{
    font-family: "Roboto","Arial",sans-serif;
    line-height: 20px;
    color: var(--font);
}

#contents .menu-item {
    margin: 0;
    padding: 0 12px 0 16px;
    height: 36px;
    font-size: 16px;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: none;
    line-height: 24px;
    border-radius: 0;
}

#contents .menu-item:hover{
    background-color: #444;
}

#contents .service-bar {
    margin: 8px 0;
    width: 100%; height: 1px;
    content: '';
    border: none;
    background-color: var(--bt-border-d);
    cursor: inherit;
}

#contents .menu-item .menu-btn {
    margin: 0;
    background-color: transparent;
    border: none;
}

#contents .menu-btn img{
    width: 24px; height: 24px;
}

#contents .menu-item-line {
    margin-right: 16px;
    width: 100%;
    background-color: var(--border);
}

#contents .menu-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contents .menu-name{
    margin-right: 24px;
    flex: 1;
}

#contents .menu-icon-box .menu-icon-img.invert {
    filter: invert();
}