/* 전체 영역 */
body {
    background-color: var(--bg); 
}

/* 검색 페이지 폰트 지정 */
#search-body{
    font-family: "Roboto","Arial",sans-serif;
}

/* 메인 영역 */
#search-body main {
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font);
    transition: margin 0.3s ease;
}

/* 사이드바 닫혔을 때 */
#search-body.sidebar-close main{
    margin-left: var(--mini-nav-width);
}

/* viewport 791px 이하에서 마진 제거 */
@media (max-width: 791px) {
    #search-body.sidebar-close main{
        margin-left: 0;
    }
}

/* 상단 버튼 헤더 */
#search-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 calc((100% - 1280px) / 2);
    margin-top: 56px;
    z-index: 10; 
    /* border-bottom: 1px solid var(--bg-highlight);  */
    background-color: var(--bg);
}

/* 상단 버튼 영역 */
#btn-header {
    width: calc(100% - 105.77px);
}

/* 상단 버튼 래퍼 */
.scroll-menu-wrap {
    height: 100%;
    padding-left: 24px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative;
}

/* 좌우 이동 버튼 */
.left-btn-wrap, .right-btn-wrap {
    width: 56px; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* 왼쪽 버튼 위치 */
.left-btn-wrap {
    top: 0;
    left: 0;
}

/* 오른쪽 버튼 위치 */
.right-btn-wrap {
    top: 0;
    right: 0;
}

/* 좌우 버튼 공통 스타일 */
.nav-btn-wrap button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; 
    position: relative;
    border:none;
    color: var(--font);
    background-color: transparent;
}

.nav-btn-wrap button:hover{
    background-color: var(--bt-border-d);
}

/* 버튼 뒤에 흐릿한 배경 추가 */
.left-btn-wrap {
    background: linear-gradient(to right, var(--bg) 0%, var(--bg) 50%, transparent 100%);
}
.right-btn-wrap {
    background: linear-gradient(to left, var(--bg) 0%, var(--bg) 50%, transparent 100%);
}

/* 버튼 안 아이콘 */
.nav-btn-wrap button svg {
    width: 16px;
    height: 16px;
}

/* 버튼 리스트 전체 */
#btn-tab {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scroll-menu-box{overflow-x: auto;}
.scroll-menu-box::-webkit-scrollbar{display: none;}

/* 버튼 리스트 ul */
.scroll-menu-wrap .menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth; 
}

/* 버튼 아이템 */
.scroll-menu-wrap .menu-list li {
    margin: 12px 12px 12px 0;
    white-space: nowrap;
}

/* 태그 버튼 */
.scroll-menu-wrap .menu-list li button{
    width: 100%; height: 100%;
    padding: 0 12px;
    border: 1px solid var(--bt-border);
    background-color: var(--bg-highlight);
    border-radius: 8px;
    font-size: 14px;
    line-height: 2rem;
    font-weight: 500;
    color: var(--font);
    cursor: pointer;
}

/* 버튼 호버 효과 */
.scroll-menu-wrap .menu-list li button:hover {
    background-color: #444;
}

/* 선택된 버튼 스타일 */
.scroll-menu-wrap .menu-list li button.selected {
    background-color: var(--bt-border);
    color: var(--bg);
}

/* 필터 영역 */
#search-filter {
    position: relative;
}
#search-filter button{
    width: 81.77px;
    height: 36px;
    margin-right: 24px;
    color: var(--font-gr);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: transparent;
    border: none;
    gap: 5px;
    cursor: pointer;
}

#search-filter button:hover {
    background-color: var(--bg-highlight);
}

#filter-img {
    width: 24px;
    height: 24px;
    filter: invert();
}

#filter-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 10000;
    right: 10%;
    top: 120%;
    background-color: var(--bg-bar);
    padding: 10px 15px;
}

#search-filter-title {
    font-size: 16px;
    padding-left: 5px;
}

#dropdown-menu {
    display: flex;
    gap: 10px;
}

#date-dropdown, #sort-dropdown {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#filter-dropdown button {
    border-radius: 0;
    margin : 0px;
}

#dropdown-title {
    height: 36px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-title {
    width: 81.77px;
    height: 36px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-line {
    border-width: 0.1px 0px 0px 0px;
    margin: 0 8px;
}

/* 동영상 리스트 영역 */
#contents {
    width: 100%;
    margin-top: 20px;
    max-width : 1280px;
    padding: 0 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* 검색 결과가 없을 때 처리 박스 */
.no-search-result {
    padding-top: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.no-search-result-img-box{
    width: 400px; height: 300px;
}

.no-search-result-img-box img{
    width: 100%; height: 100%;
}

.no-result-message {
    font-size: 24px;
}

.no-result-recommend{
    font-size: 14px;
}

/* 동영상 카드 */
.content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 16px;
}

/* 썸네일 */
.thumbnail-box{
    width: 100%;
    min-width: 240px;
    max-width: 500px;
    position: relative;
}

/* 썸네일 오버레이 */
.hover-overlay-wrap, .overlay-wrap{
    position: absolute;
    top:0; right: 0;
}

.thumbnail{
    width: 100%; height: 100%;
}

/* 썸네일 이미지 */
.thumbnail-img{
    width: 100%; height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.hover-overlay-wrap {
    display: none;
    z-index: 1;
}

.video-link:hover .hover-overlay-wrap {
    display: block;
}

.hover-overlay-inner-wrap {
    margin:8px 8px 0 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.hover-overlay-text-box{
    display: none;
}

.hover-overlay-box {
    width: 28px;
    height: 28px;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    opacity: 0.8;
    z-index: 200;
}

.hover-overlay-box:hover {
    opacity: 1;
}

.hover-overlay-box:hover ~ .hover-overlay-text-box{
    display: block;
    padding: 5px;
    background-color: var(--bg);
    color: var(--font);
    border-radius: 5px;
    font-size: 12px;
}

.hover-overlay-box img {
    filter: invert();
    width: 70%;
    object-fit: contain;
}

/* 동영상 재생 아이콘 및 재생 시간 */
.overlay-wrap {
    width: 100%; height: 100%;
    z-index: 1;
    position: absolute;
    top:0; left: 0;
}

.overlay-box{
    width: 100%; height: 100%;
    position: relative;
}

.overlay-play-box {
    display: none;
}

.overlay-box:hover .overlay-play-box{
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0; left:0;
}

.overlay-box:hover .overlay-play-box img{
    width: 30%; height: 30%;
    filter: invert();
    opacity: 0.8;
}

.overlay-time-box {
    padding: 1px 4px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8px; right: 8px;
    background-color: var(--time-badge-bg);
    border-radius: 4px;
}

.running-time {
    font-size: 13px;
    color: var(--font);
    white-space: nowrap;
    font-weight: 500;
}

/* 비디오 정보와 메뉴 영역 */
.details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
}

/* 비디오 메타데이터 영역 */
.meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

/* 비디오 제목 */
.video-header-box {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
}

.video-title{
    font-size: 18px;
    font-weight: 400;
    color: var(--font);
}

/* 비디오 정보 */
.video-meta{
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.video-meta span {
    color: var(--font);
}

/* 채널 메타 정보 */
.channel-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.channel-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px
}

.channel-avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-img{
    width: 24px; height: 24px;
    border-radius: 50%;
}

.channel-name {
    color: var(--font);
}

/* 채널 인증 마크 */
.channel-badge-box {
    display: none;
}

.channel-badge-box.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-highlight);
    border-radius: 50%;
    color: var(--font);
}

/* 영상 설명 */
.video-desc-box{ overflow: hidden; }

.video-description {
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

/* 동영상 메뉴 */
.details .menu {
    position: relative;
}

.menu-toggle-btn, .details .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border: none;
    cursor: pointer;
}

.menu-toggle-btn img, .details .menu-btn img{
    width: 24px; height: 24px;
}

.menu-toggle-btn img, .details .menu-btn-wrap img {
    filter: invert();
}

/* 메뉴 리스트 */
.details .menu-list { display: none; }

.details .menu-list.active {
    display: block;
    position: fixed;
    right: 50px;
    padding: 8px 0;
    background-color: var(--bg-highlight);
    border-radius: 12px;
    z-index: 2000;
}

@media (width >= 1340px) {
    #search-body.sidebar-close main .details .menu-list.active{
        right: calc((100% - 1280px) / 2 + 50px);
    }
}

@media (width >= 1540px) {
    .details .menu-list.active {
        right: calc((100% - 1280px) / 2 - 100px);
    }
}

/* @media (width <= 792px) {
    #search-body main {
        margin: 0;
    }

    #search-body .side-bar {
        display: none;
    }
    #search-body .side-bar.active {
        display: block;
    }
    #search-body #mini-nav {
        display: none;
    }
} */

.details .menu-items span{
    font-family: "Roboto","Arial",sans-serif;
    line-height: 20px;
    color: var(--font);
}

.details .menu-item {
    margin: 0;
    padding: 0 12px 0 16px;
    height: 36px;
    font-size: 16px;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: none;
    line-height: 24px;
    border-radius: 0;
}

.details .menu-item:hover{
    background-color: #444;
}

.details .service-bar {
    margin: 8px 0;
    width: 100%; height: 1px;
    content: '';
    border: none;
    background-color: var(--bt-border-d);
    cursor: inherit;
}

.details .menu-item .menu-btn {
    margin: 0;
    background-color: transparent;
    border: none;
}

.details .menu-item-line {
    margin-right: 16px;
    background-color: var(--border);
}

.details .menu-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .menu-name{
    margin-right: 24px;
    flex: 1;
}

.details .menu-icon-box .menu-icon-img.invert {
    filter: invert();
}