:root{
    --bg : #000000;   /* 기본 검정 배경색 */
    --bg-bar : #212121;     /* 상단바,  네비게이션바 등 기본 배경색 */
    --bg-highlight : #303030;  /* 검색버튼, 선택, 아이템, 구분선 등 기본 배경 위에 구분이 가능하도록 보여야 하는 색들*/
    --bt-border : #AAAAAA;  /* 버튼 테두리 등 밝은 회색으로 쓰이는 부분들 */
    --bt-border-d : #777777;
    --bt-highlight : #FFFFFF; /* 아이템 버튼 등의 클릭한 버튼 색 */
    --search : #121212; /* 검색창 색상 */
    --ch-profile : #181818; /* 채널 프로필 배경 색 */
    --font : #FFFFFF; /* 기본 폰트 색상 */
    --font-gr : #AAAAAA; /* 흐린(회색) 폰트 색상 (대분류나 작은설명 등) */
    --subscribes : #CC0000; /* 구독 버튼 색 */
    --time-badge-bg: rgba(0, 0, 0, 0.6);
}

*{box-sizing: border-box; margin:0; padding:0;}
a{text-decoration: none; color: black;}
ul, li, ol{list-style-type: none;}

/* 문서 전체 스크롤바 색상 지정 */
html {
    scrollbar-color: var(--bt-border) var(--bg);
}

/* 추가된 부분: 반응형 미디어 쿼리 */

/* 1990px 이상일 때: 사이드바와 동영상 리스트 한 줄에 4개씩 */
@media (min-width: 1990px) {
    .side-bar {
        display: block; /* 사이드바가 표시되도록 */
    }

    .video-list {
        grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개씩 표시 */
    }

}

/* 1990px 미만, 1312px 이상일 때: 사이드바와 동영상 리스트 한 줄에 3개씩 */
@media (max-width: 1990px) and (min-width: 1313px) {
    .side-bar {
        display: block;

    }

    .video-list {
        grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개씩 표시 */
    }

}

/* 1312px 이하, 973px 이상일 때: mini-nav가 보여지고, 동영상 리스트 한 줄에 3개씩 */
@media (max-width: 1312px) and (min-width: 973px) {
    .side-bar {
        display: none; /* 사이드바 숨기기 */
    }

    .mini-nav {
        display: block; /* mini-nav 보이기 */
    }

    .video-list {
        grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개씩 표시 */
    }

    #home-body main {
        margin-left: 70px;
    }
}

/* 973px 이하, 791px 이상일 때: mini-nav가 보여지고, 동영상 리스트 한 줄에 2개씩 */
@media (max-width: 972px) and (min-width: 792px) {
    .side-bar {
        display: none; /* 사이드바 숨기기 */
    }

    .mini-nav {
        display: block; /* mini-nav 보이기 */
    }

    .video-list {
        grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개씩 표시 */
    }

    #home-body main {
        margin-left: 70px;
    }
}

/* 791px 이하일 때: 사이드바가 보이지 않으며, 동영상 리스트 한 줄에 1개씩 */
@media (max-width: 791px) {
    .side-bar {
        display: none; /* 사이드바 숨기기 */
    }

    #mini-nav {
        display: none !important; /* mini-nav 숨기기 */
    }

    .video-list {
        grid-template-columns: 1fr; /* 한 줄에 1개씩 표시 */
    }

    #home-body main {
        margin-left: 0 !important;
    }
}


