<template id="comment-template">
    <div class="comment-box">
        <div class="commentor-author-profile-box">
            <img src="" alt="profileImg" class="commentor-author-profile">
        </div>
        <div class="comment-content">
            <div class="comment-meta">
                <span class="comment-author">작성자</span>
                <span class="comment-uploaded">2024.01.20</span>
            </div>
            <div class="comment-body-box">
                <span class="comment-body">댓글내용</span>
            </div>
            <div class="comment-feedback">
                <button>
                    <img src="../../../images/liked-videos.svg" alt="like-hand-icon" class="comment-icon">
                </button>
                <div>
                    <span class="comment-liked-number">100</span>
                </div>
                <button>
                    <img src="../../../images/DisLiked.svg" alt="dislike-hand-icon" class="comment-icon">
                </button>
                <div>
                    <button class="reply-btn">Reply</button>
                </div>
                <div class="reply-section"></div> <!--test-->
            </div>
            <div class="replies-container"></div>
        </div>
        <div class="comment-menu">
            <button class="comment-icon-box">
                <img src="../../../images/three-dots-vertical.svg" alt="three-dots-vertical" class="comment-show-more">
            </button>
            <div class="comment-dropdown">
                <button class="report-btn">
                    <img src="../../../images/report-history.svg" alt="report" class="comment-icon">
                    <span>신고</span>
                </button>
            </div>
        </div>
    </div>
</template>