<template id="comment-template">
    <div class="comment-box">
        <div class="commentor-author-profile-box">
            <img src="" alt="" class="commentor-author-profile">
        </div>
        <div class="comment-content">
            <div class="comment-meta">
                <span class="comment-author">작성자</span>
                <span class="comment-uploaded">2024.01.20</span>
            </div>
            <div class="comment-body-box">
                <span class="comment-body">댓글내용</span>
            </div>
            <div class="comment-feedback">
                <div>
                    <img src="" alt="like-hand-icon" class="comment-icon">
                </div>
                <div>
                    <span class="comment-liked-number">100</span>
                </div>
                <div>
                    <img src="" alt="dislike-hand-icon" class="comment-icon">
                </div>
                <div>
                    <button class="reply-btn">Reply</button>
                </div>
            </div>
        </div>
        <div class="comment-menu">
            <div class="comment-icon-box">
                <img src="" alt="show-more" class="comment-show-more">
            </div>
            <div class="comment-dropdown">
                <button>
                    <span>
                        <img src="" alt="report-flag" class="comment-icon">
                    </span>
                    <span>Report</span>
                </button>
            </div>
        </div>
    </div>
</template>