<template id="video-template">
    <div class="related-video-content">
        <div class="video-thumbnail">
            <a href="" class="video-link">
                <img src="" alt="" class="video-thumbnail-img">
                <div class="hover-overlay-wrap">
                    <div class="hover-overlay-box">
                        <img src="../../../images/icon/clock.svg" alt="clock-icon" class="hover-icon"></img>
                    </div>
                    <div class="hover-overlay-box">
                        <img src="../../../images/icon/listPlay.svg" alt="list-play-icon" class="hover-icon"></img>
                    </div>
                </div>
                <div class="overlay-wrap">
                    <div class="overlay-box">
                        <span class="running-time">12:32</span>
                    </div>
                </div>
            </a> 
        </div>
        <div class="video-detail-box">
            <div class="video-metadata-box">
                <a href="#" class="video-link">
                    <h3 class="video-title">영상 제목</h3>
                    <div class="video-meta-box">
                        <div class="channel-info-box">
                            <span class="channel-name">채널명</span>
                            <span class="channel-badge-box">
                                <img src="../../../images/icon/checkIcon.svg" alt="badge-icon" class="badge-icon">
                            </span>
                        </div>
                        <div class="video-info">
                            <span class="spectator-number">10 views</span>
                            <span> · </span>
                            <span class="uploaded-time">2 days ago</span>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- 비디오 메뉴 버튼 -->
            <div class="related-video-menu">
                <div class="menu-btn-wrap">
                    <button class="menu-toggle-btn">
                        <img src="../../../images/icon/threeDotsVertical.svg" alt="three-dot-icon" class="btn-icon">
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>