<div id="progress-container">
    <div id="progress-bar"></div>
</div>

<div id="custom-controls">
    <div class="controls-left">
        <button id="play-toggle" class="icon-btn">
            <img src="../../../images/icon/play.svg" alt="Play" id="play-icon">
        </button>
        <button class="icon-btn"><img src="../../../images/icon/nextVideoIcon.svg" alt="Next Video"></button>
        <div class="volume-control" id="volume-control">
            <button id="volume-toggle">
                <img src="../../../images/icon/soundSpeaker.svg" alt="Sound">
            </button>
            <input type="range" id="volume-bar" min="0" max="1" step="0.01" value="1">
        </div>
        <span id="current-time">0:00</span> / <span id="duration">0:00</span>
    </div>

    <div class="controls-right">
        <button class="icon-btn"><img src="../../../images/icon/ccTitle.svg" alt="Captions"></button>
        <button class="icon-btn"><img src="../../../images/icon/settingGear.svg" alt="HD"></button>
        <button class="icon-btn"><img src="/images/icon/theaterRectangle.svg" alt="Theater Mode"></button>
        <button class="icon-btn"><img src="../../../images/icon/tvShare.svg" alt="Cast to TV"></button>
        <button id="fullscreen-btn" class="icon-btn">
            <img src="../../../images/icon/fullScreenIcon.svg" alt="Fullscreen">
        </button>
    </div>
</div>
